  <!-- HEADER
			============================================= -->
  <header id="header" class="tra-menu navbar-light white-scroll">
    <div class="header-wrapper">
      <!-- MOBILE HEADER -->
      <div class="wsmobileheader clearfix">
        <span class="smllogo">
          <a routerLink="home"><img src="images/Databean-logo-Primary.png" alt="mobile-logo"></a>
        </span>
        <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
      </div>
      <!-- NAVIGATION MENU -->
      <div class="wsmainfull menu clearfix">
        <div class="wsmainwp clearfix">
          <!-- HEADER BLACK LOGO -->
          <div class="desktoplogo">
            <a routerLink="home" class="logo-black"><img src="images/Databean-logo-Primary.png" alt="logo"></a>
          </div>
          <!-- HEADER WHITE LOGO -->
          <div class="desktoplogo">
            <a routerLink="home" class="logo-white"><img src="images/Databean-logo-White.png" alt="logo"></a>
          </div>
          <!-- MAIN MENU -->
          <nav class="wsmenu clearfix">
            <ul class="wsmenu-list nav-theme">
              <li class="nl-simple" aria-haspopup="true">
                <a class="h-link" routerLink="home" routerLinkActive="active">Home</a>
              </li>

              <!-- DROPDOWN SUB MENU -->
              <!-- <li aria-haspopup="true">
						          		<a href="index.html" class="h-link">Home <span class="wsarrow"></span></a>
	            						<ul class="sub-menu ico-10">
	            							<li aria-haspopup="true" class="h-link"><a href="about.html">About Us</a></li>
	            							<li aria-haspopup="true" class="h-link"><a href="team.html">Our Team</a></li>
	            							<li aria-haspopup="true" class="h-link"><a href="careers.html">Careers <span class="sm-info">5</span></a></li>
								            <li aria-haspopup="true" class="h-link"><a href="blog-listing.html">Our Blog</a></li>
								            <li aria-haspopup="true" class="h-link"><a href="contacts.html">Contact Us</a></li>	
						           		</ul>
								    </li> -->


              <!-- SIMPLE NAVIGATION LINK -->
              <li class="nl-simple" aria-haspopup="true">
                <a routerLink="services" class="h-link" routerLinkActive="active">Services</a>
              </li>


              <!-- SIMPLE NAVIGATION LINK -->
              <li class="nl-simple" aria-haspopup="true">
                <a routerLink="trialpoint" class="h-link" routerLinkActive="active">TrialPoint</a>
              </li>

              <!-- SIMPLE NAVIGATION LINK -->
              <li class="nl-simple" aria-haspopup="true">
                <a routerLink="team" class="h-link" routerLinkActive="active">About Us</a>
              </li>

              <!-- GET STARTED BUTTON -->
              <li class="nl-simple" aria-haspopup="true">
                <a routerLink="contact" class="btn r-06 btn--theme hover--tra-white last-link">Contact Us</a>
              </li>


            </ul>
          </nav> <!-- END MAIN MENU -->
        </div>
      </div> <!-- END NAVIGATION MENU -->
    </div> <!-- End header-wrapper -->
  </header> <!-- END HEADER -->