<footer id="footer-2" class="pt-100 footer">
	<div class="container">
		<!-- FOOTER CONTENT -->
		<div class="row">
			<!-- FOOTER INFO -->
			<div class="col-lg-4">
				<div class="footer-info">

					<!-- Logo -->	
					<img class="footer-logo" src="images/Databean-logo-Primary.png" alt="footer-logo">
				
					<!-- Text -->	
					<p>Your trusted partner in clinical trial management, offering comprehensive solutions from trial design to regulatory support. 
					</p>

				</div>	
			</div>	<!-- END FOOTER INFO -->	

			<!-- FOOTER LINKS -->
			<div class="col-lg-8">
				<div class='row footer-links clearfix'>
					<!-- FOOTER LINKS #1 -->
					 <div class="col-md-3">
						 <div class="fl-1">
						 
							 <!-- Title -->
							<h6 class="d-title">About</h6>
							<h6 class="m-title">About</h6>

							<!-- Links -->
							  <ul class="foo-links clearfix">
								<li><p><a routerLink="/home">Databean</a></p></li>
								<li><p><a routerLink="/team">Our Team</a></p></li>
								<!-- <li><p><a href="careers.html">Careers</a></p></li>	 -->
								<!-- <li><p><a href="#">Press & Media</a></p></li>	 -->
								<li><p><a routerLink="/contact">Contact Us</a></p></li>							
							</ul>

						</div>
					</div>	<!-- END FOOTER LINKS #1 -->


					<!-- FOOTER LINKS #2 -->
					 <div class="col-md-3">
						 <div class="fl-2">

							 <!-- Title -->
							<h6 class="d-title">Discover</h6>
							<h6 class="m-title">Discover</h6>

							<!-- Links -->
							 <ul class="foo-links clearfix">
								<li><p><a routerLink="/services">Core Services</a></p></li>
								<li><p><a routerLink="/trialpoint">TrialPoint RMS</a></p></li>				
								<!-- <li><p><a href="pricing.html">Pricing Plans</a></p></li>
								<li><p><a href="faqs.html">Help & Support</a></p></li>	
								<li><p><a href="blog-listing.html">Our Blog</a></p></li>				 -->
							</ul>

						</div>
					</div>	<!-- END FOOTER LINKS #2 -->


					 <!-- FOOTER LINKS #3 -->
					 <div class="col-md-3">
						 <div class="fl-3">

							 <!-- Title -->
							<h6 class="d-title">Legal</h6>
							<h6 class="m-title">Legal</h6>

							<!-- Links -->
							 <ul class="foo-links clearfix">
								<!-- <li><p><a href="#">Advertising</a></p></li> -->
								<li><p><a href="terms.html">Terms of Use</a></p></li>									
								<li><p><a href="privacy.html">Privacy Policy</a></p></li>
								<li><p><a href="cookies.html">Cookie Policy</a></p></li>
								<!-- <li><p><a href="blog-listing.html">Site Map</a></p></li>						 -->
							</ul>

						</div>
					</div>	<!-- END FOOTER LINKS #3 -->

					 <!-- FOOTER LINKS #4 -->
					 <div class="col-md-3">
						 <div class="fl-4">

							 <!-- Title -->
							<h6 class="d-title">Social</h6>
							<h6 class="m-title">Social</h6>

							<!-- Links -->
							  <ul class="foo-links ico-10 clearfix">
								<li><p><a href="#"><span class="flaticon-facebook"></span> Facebook</a></p></li>
								<li><p><a href="#"><span class="flaticon-twitter-1"></span> Twitter</a></p></li>		
								<li><p><a href="#"><span class="flaticon-linkedin-logo"></span> LinkedIn</a></p></li>
								<!-- <li><p><a href="#"><span class="flaticon-dribbble"></span> Dribbble</a></p></li>		 -->
							</ul>

						</div>
					</div>	<!-- END FOOTER LINKS #4 -->
				</div>
			</div>	<!-- END FOOTER LINKS -->
		</div>	<!-- END FOOTER CONTENT -->
		<hr>	<!-- FOOTER DIVIDER LINE -->	
		<!-- BOTTOM FOOTER -->
		<div class="bottom-footer">
			<div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">
				<!-- FOOTER COPYRIGHT -->
				<div class="col">
					<div class="footer-copyright"><p class="p-sm">&copy; {{year}} Databean. <span>All Rights Reserved</span></p></div>
				</div>
			</div>  <!-- End row -->
		</div>	<!-- END BOTTOM FOOTER -->
	</div>     <!-- End container -->	
</footer>   <!-- END FOOTER-2 -->