
			<!-- CONTACTS-1
			============================================= -->
			<section id="contacts-1" class="gr--snow inner-page-hero pb-60 contacts-section division">				
				<div class="container">
					<div class="row">
						<!-- CONTACTS INFO -->
						<div class="col-md-5 col-lg-6">
							<div class="contacts-info">
								<!-- Section ID -->	
					 			<span class="section-id">Contact Us</span>	

								<!-- Title -->
								<h2 class="h2-title">Need Assistance?<br>We're Here to Help</h2>

								<!-- Text -->
								<p class="p-md">Interested in learning more about Databean, requesting a quote, or connecting with our clinical trial experts? Let us know how we can support your clinical research needs, and we’ll get back to you promptly
								</p>

								<!-- Title -->
								<h6 class="h6-md">Connect with us:</h6>

								<!-- Socials Links -->
								<ul class="contacts-info-socials ico-25">
									<li><a href="#"><span class="flaticon-facebook"></span></a></li>
									<li><a href="#"><span class="flaticon-twitter-1"></span></a></li>
									<li><a href="#"><span class="flaticon-linkedin-logo"></span></a></li>
									<li><a href="#"><span class="flaticon-instagram"></span></a></li>
									<li><a href="#"><span class="flaticon-dribbble"></span></a></li>
								</ul>
							</div>		
						</div>	<!-- END CONTACTS INFO -->	
						<!-- CONTACT FORM -->
						<div class="col-md-7 col-lg-6">
							<div class="form-wrapper">
								<form name="contactform" class="row contact-form">

									<!-- Form Select -->
									<div class="col-md-12 input-subject">
										<select class="form-select subject" aria-label="Default select example">
									    	<option selected>This question is about...</option>	
											<option>Registering/Authorising</option>
											<option>Using Application</option>
											<option>Troubleshooting</option>
											<option>Backup/Restore</option>
											<option>Other</option>
									    </select>
									</div>
																						
									<!-- Contact Form Input -->
									<div class="col-md-12">
										<input type="text" name="name" class="form-control name" placeholder="Your Name*"> 
									</div>
												
									<div  class="col-md-12">
										<input type="email" name="email" class="form-control email" placeholder="Email Address*"> 
									</div>
		
									<div class="col-md-12">
										<textarea class="form-control message" name="message" rows="6" placeholder="I have a problem with..."></textarea>
									</div> 
																						
									<!-- Contact Form Button -->
									<div class="col-md-12 form-btn">	
										<button type="submit" class="btn btn--theme hover--theme submit">Submit Request</button>	
									</div>

									<!-- Contact Form Message -->
									<div class="col-lg-12 contact-form-msg">
										<span class="loading"></span>
									</div>	

								</form>  <!-- End contact-form -->		
							</div>  <!-- End form-wrapper -->		
						</div>	<!-- END CONTACT FORM -->		
					</div>    <!-- End row -->	
				</div>	   <!-- End container -->	
			</section>	<!-- END CONTACTS-1 -->

			<!-- DIVIDER LINE -->
			<hr class="divider">





