<!-- TEXT CONTENT
			============================================= -->
<section class="gr--whitesmoke ct-01 inner-page-hero content-section division" id="hero-25"
  class="bg--fixed hero-section">
  <div class="container">
    <div class="row d-flex align-items-center">
      <!-- TEXT BLOCK -->
      <div class="col-md-6 order-last order-md-2">
        <div class="txt-block  color--white left-column wow animate__animated animate__fadeInRight">

          <!-- Section ID -->
          <span class="section-id">Endless Possibilities</span>

          <!-- Title -->
          <h2>Tailored Clinical Solutions</h2>

          <!-- Text -->
          <p>Databean empowers single-product medtech and biotech startups to excel in clinical trials. Leveraging our
            scientific expertise and advanced technology, we deliver efficient, cost-effective solutions to navigate
            complex regulatory and clinical pathways.
          </p>

          <!-- Text -->
          <p class="mb-0"> Whether seamlessly integrating with existing plans or offering comprehensive trial
            management, we boost project efficiency and drive success.
          </p>

        </div>
      </div> <!-- END TEXT BLOCK -->
      <!-- IMAGE BLOCK -->
      <div class="col-md-6 order-first order-md-2">
        <div class="img-block right-column wow animate__animated animate__fadeInLeft">
          <img class="img-fluid" src="images/img-08d.png" alt="content-image">
        </div>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- END TEXT CONTENT -->

<!-- TEXT CONTENT
			============================================= -->
<section class="pt-60 ct-01  mb-30  content-section division">
  <div class="container">
    <div class="row d-flex align-items-center">
      <!-- TEXT BLOCK -->
      <div class="col-md-6 order-last order-md-2">
        <div class="txt-block left-column wow animate__animated animate__fadeInRight">


          <!-- TEXT BOX -->
          <div class="txt-box">

            <!-- Title -->
            <h5 class="h5-lg">Trial Design and Biostatistics Services</h5>

            <!-- Text -->
            <p>At Databean, our seasoned statisticians are experts in a wide range of methodologies, from Bayesian
              approaches to traditional frequentist study designs. We help you leverage your existing data to
              potentially justify smaller or shorter clinical trials, saving you valuable time and resources.
            </p>
            <!-- Title -->
            <h6 class="h5-lg mb-30">Our comprehensive trial design and biostatistics services include:</h6>
            <ul class="simple-list">

              <li class="list-item">
                <p class="mb-0">Crafting efficient trial designs using Bayesian and frequentist models
                </p>
              </li>

              <li class="list-item">
                <p class="mb-0">Providing sample size justification
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Developing stratification and randomization schemes
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Negotiating with regulatory agencies and payors

                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Creating statistical analysis plans
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Coordinating and facilitating DSMB meetings
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Preparing agency-ready summary tables, listings, figures, and reports
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Offering technical writing and manuscript support
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Attending scientific and panel meetings
                </p>
              </li>

            </ul>
          </div> <!-- END TEXT BOX -->





        </div>
      </div> <!-- END TEXT BLOCK -->
      <!-- IMAGE BLOCK -->
      <div class="col-md-6 order-first order-md-2">
        <div class="img-block right-column wow animate__animated animate__fadeInLeft">
          <img class="img-fluid" src="images/Nurse-1.png" alt="content-image">
        </div>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- END TEXT CONTENT -->
<hr class="divider">

<!-- TEXT CONTENT
			============================================= -->
<section class="pt-60 ct-01  mb-30  content-section division">
  <div class="container">
    <div class="row d-flex align-items-center">

      <!-- IMAGE BLOCK -->
      <div class="col-md-6 order-last order-md-2">
        <div class="img-block right-column wow animate__animated animate__fadeInLeft">
          <img class="img-fluid" src="images/Project-04.png" alt="content-image">
        </div>
      </div>
      <!-- TEXT BLOCK -->
      <div class="col-md-6 order-first order-md-2">
        <div class="txt-block left-column wow animate__animated animate__fadeInRight">


          <!-- TEXT BOX -->
          <div class="txt-box">

            <!-- Title -->
            <h5 class="h5-lg">Regulatory and Quality</h5>

            <!-- Text -->
            <p>Don’t burn time and money waiting for the regulatory agencies to communicate what they need — we can show
              you what works and what doesn’t. Our regulatory and quality teams have 30+ years of global experience in
              commercializing medical devices focusing on Class II and III products.
            </p>
            <!-- Title -->
            <h6 class="h5-lg mb-30">Our team can:</h6>
            <ul class="simple-list">

              <li class="list-item">
                <p class="mb-0">Define your device’s classification and regulatory path
                </p>
              </li>

              <li class="list-item">
                <p class="mb-0">Create labeling and intended use statements
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Perform end-to-end evaluation of design processes
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Develop a regulatory strategy and negotiate with the FDA and other global regulatory
                  bodies

                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Manage pre-market submissions including de novo, 510K, IDE and PMA applications in U.S.
                  and Technical File/Design Dossiers for CE Mark
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Qualify vendors and perform QMS audits
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Produce interim and final reports, including safety reports
                </p>
              </li>


            </ul>
          </div> <!-- END TEXT BOX -->

        </div>
      </div> <!-- END TEXT BLOCK -->
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- END TEXT CONTENT -->




<hr class="divider">





<!-- TEXT CONTENT
			============================================= -->
<section class="pt-60 ct-01  mb-30 content-section division">
  <div class="container">
    <div class="row d-flex align-items-center">
      <!-- TEXT BLOCK -->
      <div class="col-md-6 order-last order-md-2">
        <div class="txt-block left-column wow animate__animated animate__fadeInRight">


          <!-- TEXT BOX -->
          <div class="txt-box">

            <!-- Title -->
            <h5 class="h5-lg">Project Management</h5>

            <!-- Text -->
            <p>Databean provides knowledgeable and experienced managers who understand your urgency and will work hard
              to keep you on time and on budget.
            </p>
            <!-- Title -->
            <h6 class="h5-lg mb-30">Our project managers:</h6>
            <ul class="simple-list">

              <li class="list-item">
                <p class="mb-0">Manage communication between all stakeholders
                </p>
              </li>

              <li class="list-item">
                <p class="mb-0">Select sites and drive enrollment
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Manage IRB and CTA approvals
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Perform study start-up, training, and eTMF management
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Select core labs and integrate systems
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Track budget accruals and site payments
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Control day-to-day activities
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Mitigate risk
                </p>
              </li>

            </ul>
          </div> <!-- END TEXT BOX -->

        </div>
      </div> <!-- END TEXT BLOCK -->
      <!-- IMAGE BLOCK -->
      <div class="col-md-6 order-first order-md-2">
        <div class="img-block right-column wow animate__animated animate__fadeInLeft">
          <img class="img-fluid" src="images/Project-02.png" alt="content-image">
        </div>
      </div>

    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- END TEXT CONTENT -->



<hr class="divider">


<!-- TEXT CONTENT
			============================================= -->
<section class="pt-60 ct-01  mb-30 content-section division">
  <div class="container">
    <div class="row d-flex align-items-center">

      <!-- IMAGE BLOCK -->
      <div class="col-md-6 order-last order-md-2">
        <div class="img-block right-column wow animate__animated animate__fadeInLeft">
          <img class="img-fluid" src="images/Project-03.png" alt="content-image">
        </div>
      </div>
      <!-- TEXT BLOCK -->
      <div class="col-md-6 order-first order-md-2">
        <div class="txt-block left-column wow animate__animated animate__fadeInRight">


          <!-- TEXT BOX -->
          <div class="txt-box">

            <!-- Title -->
            <h5 class="h5-lg">Data Management and Monitoring</h5>

            <!-- Text -->
            <p>Databean’s data management team all started in the trenches designing and managing clinical trials, both
              in academia and industry, and are experts at configuring TrialPoint™, Databean’s proprietary research
              management system. If you are new to electronic data capture (EDC), always thought it was too expensive,
              or don’t have the internal capacity to license and configure a system, let us help:.
            </p>
            <!-- Title -->
            <!-- <h6 class="h5-lg mb-30">Our project managers:</h6> -->
            <ul class="simple-list">

              <li class="list-item">
                <p class="mb-0">Define data requirements and standards or integrate your custom data dictionaries
                </p>
              </li>

              <li class="list-item">
                <p class="mb-0">Configure TrialPoint™ including adaptive trial designs
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Integrate complex stratification and randomization schemas
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Integrate core lab data, clinical supply management, and ePRO modules
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Author data management and risk-based monitoring plans
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Monitor, source verify and perform data quality audits
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Produce comprehensive data quality and safety reports
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Establish and manage the Clinical Events Committee (CEC)
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Produce study metrics
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0">Produce site invoices based on data entry and quality
                </p>
              </li>

            </ul>
          </div> <!-- END TEXT BOX -->

        </div>
      </div> <!-- END TEXT BLOCK -->
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- END TEXT CONTENT -->



<hr class="divider">

<!-- TEXT CONTENT
			============================================= -->
<section class="pt-60 ct-01  mb-30 content-section division">
  <div class="container">
    <div class="row d-flex align-items-center">
      <!-- TEXT BLOCK -->
      <div class="col-md-6 order-last order-md-2">
        <div class="txt-block left-column wow animate__animated animate__fadeInRight">


          <!-- TEXT BOX -->
          <div class="txt-box">

            <!-- Title -->
            <h5 class="h5-lg">Post Surveillance</h5>

            <!-- Text -->
            <p>The transition from clinical development to marketplace introduction is critical to the success of any
              product. We offer a seamless transition to post-marketing surveillance and investigator-generated studies
              by harnessing the same tools used in the pivotal trial. By using a single data repository for all your
              clinical and marketing initiatives you will have powerful metrics at your fingertips whenever you need
              them.
            </p>

          </div> <!-- END TEXT BOX -->

        </div>
      </div> <!-- END TEXT BLOCK -->
      <!-- IMAGE BLOCK -->
      <div class="col-md-6 order-first order-md-2">
        <div class="img-block right-column wow animate__animated animate__fadeInLeft">
          <img class="img-fluid" src="images/Project-1.png" alt="content-image">
        </div>
      </div>

    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- END TEXT CONTENT -->



<hr class="divider">

<!-- TEXT CONTENT
			============================================= -->
<section class="pt-60 ct-01  mb-30 content-section division">
  <div class="container">
    <div class="row d-flex align-items-center">
      <!-- IMAGE BLOCK -->
      <div class="col-md-6 order-first order-md-2">
        <div class="img-block right-column wow animate__animated animate__fadeInLeft">
          <img class="img-fluid" src="images/img-02d.png" alt="content-image">
        </div>
      </div>
      <!-- TEXT BLOCK -->
      <div class="col-md-6 order-last order-md-2">
        <div class="txt-block left-column wow animate__animated animate__fadeInRight">


          <!-- TEXT BOX -->
          <div class="txt-box">

            <!-- Title -->
            <h5 class="h5-lg">Reimbursement</h5>

            <!-- Text -->
            <p>If you are waiting to launch your product before formulating a path to reimbursement, it might be too
              late. To secure reimbursement for new technologies it is important to design clinical trials that show
              medical benefit, and to collect the necessary data to satisfy coverage decisions and coding.
            </p>
            <p>
              During the design phase, Databean’s reimbursement specialists will work with you to phrase the intended
              use and indications for use to fit existing coverage decisions, or we will ensure that the clinical trials
              are designed to collect the necessary data to satisfy new coverage decisions.
            </p>

          </div> <!-- END TEXT BOX -->

        </div>
      </div> <!-- END TEXT BLOCK -->


    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- END TEXT CONTENT -->



<hr class="divider">

<!-- TEXT CONTENT
			============================================= -->
<section class="pt-60 ct-01  mb-30 content-section division">
  <div class="container">
    <div class="row d-flex align-items-center">
      <!-- TEXT BLOCK -->
      <div class="col-md-6 order-last order-md-2">
        <div class="txt-block left-column wow animate__animated animate__fadeInRight">


          <!-- TEXT BOX -->
          <div class="txt-box">

            <!-- Title -->
            <h5 class="h5-lg">Trial Rescue</h5>

            <!-- Text -->
            <p>When spend is too high and critical timelines are missed, it might be time to rethink your strategy.
              Databean has recovered three pivotal trials within the last 3 years and can help you get back on track. We
              start with a comprehensive audit to diagnose and prioritize issues, create redesigns and negotiate with
              agencies, establish relationships with KOLs and clinical sites, map and integrate data into TrialPoint,
              transition to new vendors as needed, streamline communication and day-to-day operations. If your study is
              not progressing as expected, feel free to give us a call and see if we can help.
            </p>

          </div> <!-- END TEXT BOX -->

        </div>
      </div> <!-- END TEXT BLOCK -->
      <!-- IMAGE BLOCK -->
      <div class="col-md-6 order-first order-md-2">
        <div class="img-block right-column wow animate__animated animate__fadeInLeft">
          <img class="img-fluid" src="images/img-02d.png" alt="content-image">
        </div>
      </div>

    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- END TEXT CONTENT -->



<hr class="divider">

<!-- BANNER-2
			============================================= -->
<section id="banner-2" class="banner-section pt-60 mt-30">
  <div class="container">


    <!-- BANNER-2 WRAPPER -->
    <div class="banner-2-wrapper r-16">
      <div class="banner-overlay ba--03 bg--fixed">
        <div class="row justify-content-center">


          <!-- BANNER-2 TEXT -->
          <div class="col-md-9">
            <div class="banner-2-txt l-txt color--white">

              <!-- Title -->
              <h2 class="h2-lg">Have a project in mind? Let's discuss</h2>

              <!-- Text -->
              <p class="p-xl">Transforming your clinical trial vision into reality—let's collaborate today.
              </p>

              <!-- Button -->
              <a routerLink="/contact" class="btn btn-md r-06 btn--theme hover--tra-white">Start the Conversation
              </a>

            </div>
          </div> <!-- END BANNER-2 TEXT -->


        </div> <!-- End row -->
      </div> <!-- End banner overlay -->
    </div> <!-- END BANNER-2 WRAPPER -->


  </div> <!-- End container -->
</section> <!-- END BANNER-2 -->
