			<!-- ABOUT-2
			============================================= -->
			<section id="about-2" class="inner-page-hero about-section division">
			  <div class="container">
			    <div class="row">


			      <!-- ABOUT TITLE -->
			      <div class="col-md-6">
			        <div class="about-2-title wow animate__animated animate__fadeInRight">

			          <!-- Section ID -->
			          <span class="section-id">Our Story</span>

			          <!-- Title -->
			          <h2>Bridging Innovation and Expertise</h2>

			        </div>
			      </div>


			      <!-- ABOUT TEXT -->
			      <div class="col-md-6">
			        <div class="about-2-txt wow animate__animated animate__fadeInLeft">

			          <!-- Text -->
			          <p>From academic roots to industry expertise, Databean's leadership team came together in 2007 with a
			            shared vision: to fill the gap for comprehensive, affordable clinical trial solutions for medtech and
			            biotech start-ups.
			          </p>

			          <!-- Text -->
			          <p>Our mission has always been to empower these innovators and accelerate their path to market success.
			          </p>

			          <!-- Text -->


			        </div>
			      </div> <!-- END ABOUT TEXT -->


			    </div> <!-- End row -->
			  </div> <!-- End container -->
			</section> <!-- END ABOUT-2 -->

			<!-- TEXT CONTENT
			============================================= -->
			<section class="pt-100 ct-01 content-section division">
			  <div class="container">
			    <div class="row d-flex align-items-center">
			      <!-- IMAGE BLOCK -->
			      <div class="col-md-6">
			        <div class="img-block left-column wow animate__animated animate__fadeInRight">
			          <img class="img-fluid" src="images/img-02.png" alt="content-image">
			        </div>
			      </div>
			      <!-- TEXT BLOCK -->
			      <div class="col-md-6">
			        <div class="txt-block right-column wow animate__animated animate__fadeInLeft">
			          <!-- ACCORDION WRAPPER -->
			          <div class="accordion-1 accordion-wrapper">
			            <ul class="accordion">
			              <!-- ACCORDION ITEM #1 -->
			              <li class="accordion-item is-active">
			                <!-- Title -->
			                <div class="accordion-thumb">
			                  <h5 class="h5-lg">Therapeutic Areas</h5>
			                </div>
			                <!-- Text -->
			                <div class="accordion-panel">
			                  <p>Our team has a wealth of experience in designing and managing clinical trials across a diverse
			                    array of therapeutic areas, such as neurology, heart failure, diabetes, lung and liver diseases,
			                    and end-stage renal disease. By incorporating innovative health economics strategies, we strive
			                    to maximize trial impact and ensure research findings translate effectively into improved patient
			                    care.
			                  </p>
			                  <p class="mb-0">Our work bridges the gap between clinical investigation and practical healthcare
			                    solutions, addressing both chronic and acute medical needs.
			                  </p>
			                </div>
			              </li> <!-- END ACCORDION ITEM #1 -->

			              <!-- ACCORDION ITEM #2 -->
			              <li class="accordion-item">
			                <!-- Title -->
			                <div class="accordion-thumb">
			                  <h5 class="h5-lg">Drugs and Biologics</h5>
			                </div>

			                <!-- Text -->
			                <div class="accordion-panel">
			                  <p class="">With deep expertise in clinical trial design and oversight, we play a vital role in
			                    advancing the development of drugs and biologics for challenging cardiovascular and systemic
			                    health conditions.
			                  </p>
			                  <p class="mb-0">Our experience includes conducting trials for heart failure, arrhythmias, ischemic
			                    heart disease, hypertension, and cardiogenic shock, as well as research in pain management and
			                    immune modulation. We are committed to ensuring that clinical studies are thorough and adhere to
			                    regulatory standards, paving the way for therapeutic progress.
			                  </p>
			                </div>
			              </li> <!-- END ACCORDION ITEM #2 -->
			              <!-- ACCORDION ITEM #3 -->
			              <li class="accordion-item">
			                <!-- Title -->
			                <div class="accordion-thumb">
			                  <h5 class="h5-lg">Class III Medical Devices</h5>
			                </div>

			                <!-- Text -->
			                <div class="accordion-panel">
			                  <p class="">We bring specialized knowledge to the design and management of clinical trials for
			                    Class III medical devices, essential for advanced medical treatments. Our expertise covers
			                    devices for cardiovascular care, neuromodulation, pulmonary health, diabetes, renal support, drug
			                    delivery systems, and tissue regeneration/biologics.
			                  </p>
			                  <p class="mb-0">By upholding the highest quality standards in clinical trials, we support the
			                    development of safe, effective, and innovative medical devices that enhance patient care and
			                    contribute to the evolution of modern medicine.</p>
			                </div>

			              </li> <!-- END ACCORDION ITEM #3 -->
			            </ul>
			          </div> <!-- END ACCORDION WRAPPER -->
			        </div>
			      </div> <!-- END TEXT BLOCK -->


			    </div> <!-- End row -->
			  </div> <!-- End container -->
			</section> <!-- END TEXT CONTENT -->

			<!-- DIVIDER LINE -->
			<hr class="divider">

			<!-- IMAGE CONTENT
			============================================= -->
			<div class="pt-100 ct-05 ct-05-img content-section division">
			  <div class="container">
			    <div class="row justify-content-center">
			      <div class="col-md-7">
			        <div class="section-title mb-70">

			          <!-- Title -->
			          <h2 class="h2-xl">Our Dedicated Team</h2>

			          <!-- Text -->
			          <p class="p-xl">We are a close-knit group committed to delivering exceptional results for our valued
			            clients.
			          </p>

			        </div>
			      </div>
			    </div>
			    <div class="mb-35">

			      <!-- Question -->
			      <div class="faqs-3-question">
			        <h5> Nuala Ronan <br>
			          <h6>Founder and Managing Partner</h6>
			        </h5>

			      </div>

			      <!-- Answer -->
			      <div class="faqs-3-answer">

			        <!-- Text -->
			        <p>Nuala co-founded Databean in 2007 after more than 20 years in the healthcare arena, 15 of which were in
			          academic and industry-sponsored research. Nuala has extensive knowledge and training around key clinical,
			          regulatory, and data management requirements essential for the successful execution of global clinical
			          trials. With a degree in nursing and her ‘infectious enthusiasm’ for new technologies, Nuala can quickly
			          assess the value of these new products and works hard to bring them to reality. When not working, Nuala
			          manages a busy household of three boys. Her favorite charity is Kiva because everyone deserves a chance to
			          realize their dreams.
			        </p>

			      </div>

			    </div>
			    <div class="mb-35">

			      <!-- Question -->
			      <div class="faqs-3-question">
			        <h5> Peter Terrizzi, MS <br>
			          <h6>Founder and CTO</h6>
			        </h5>

			      </div>

			      <!-- Answer -->
			      <div class="faqs-3-answer">

			        <!-- Text -->
			        <p>Peter Terrizzi is an expert in database architecture and development of web-based applications, creating
			          robust solutions for complex technical problems. Peter possesses elite domain knowledge in e-Commerce,
			          Financial Accounting, Insurance, Inventory Management, and Healthcare, where he led the life-cycle
			          development and maintenance of mission-critical software applications, including TrialPoint™ e-clinical
			          solutions. With a master’s in computer science, Peter runs the tech and security teams, ensuring
			          TrialPoint’s compliance with global standards. When not busy with those tasks, he designs new modular
			          applications based on TrialPoint’s business objectives and Sponsor needs. On a personal note, Peter has no
			          other life as we don’t let him out of the basement.
			        </p>

			      </div>

			    </div>
			    <div class="mb-35">

			      <!-- Question -->
			      <div class="faqs-3-question">
			        <h5> Hal Rivadeneira<br>
			          <h6>Founder and Principal Software Engineer</h6>
			        </h5>

			      </div>

			      <!-- Answer -->
			      <div class="faqs-3-answer">

			        <!-- Text -->
			        <p>Utilizing an extensive foundation in both clinical research and data management, Hal co-founded Databean
			          in 2007, seeking an optimal solution in the ever-changing healthcare IT industry. Hal’s experience in
			          interactive design and development of web-based applications, as well as his expertise in data integrity
			          and security, resulted in TrialPoint™, a comprehensive research management system that serves the data
			          collection and management needs of Databean’s clients. More recently, Hal is exploring the integration of
			          mHealth applications to help transform the clinical trial process. When not working, Hal enjoys coaching
			          school sports and his favorite charity is code.org…..go figure!
			        </p>

			      </div>

			    </div>
			    <div class="mb-35">

			      <!-- Question -->
			      <div class="faqs-3-question">
			        <h5> Michael Parides, Ph.D <br>
			          <h6>Biostatistician</h6>
			        </h5>

			      </div>

			      <!-- Answer -->
			      <div class="faqs-3-answer">

			        <!-- Text -->
			        <p>Michael Parides is the Director of Biostatistics at the Icahn School of Medicine at Mount Sinai, NY, and
			          oversees trial design and data management for Databean. Michael earned his Ph.D in Biostatistics from
			          Columbia University and has 25+ years of experience in the design of complex clinical studies. He has been
			          the principal statistician on numerous landmark trials in stroke and cardiovascular disease and employs a
			          pragmatic approach to trial design for novel technologies, believing strongly in Bayesian techniques.
			          Michael has developed excellent working relationships with the NIH and the FDA, serving as a DSMB committee
			          chair and panel advisor. Despite his solid “pocket protector” status, Michael has a fantastic sense of
			          humor and a passion for new technologies.
			        </p>

			      </div>

			    </div>
			    <div class="mb-35">

			      <!-- Question -->
			      <div class="faqs-3-question">
			        <h5> Deborah Arthur, MA<br>
			          <h6>Regulatory Strategis</h6>
			        </h5>

			      </div>

			      <!-- Answer -->
			      <div class="faqs-3-answer">

			        <!-- Text -->
			        <p>Deborah Arthur is Databean’s key regulatory strategist. She is instrumental in providing global management
			          of regulatory and quality requirements within clinical trials. Having served as Vice President of
			          Regulatory and Quality for several medical device companies, including Cochlear Americas, MetaCure and
			          Symphonix Devices, Deborah is an expert at crafting regulatory pathways for novel devices and her
			          no-nonsense approach is much appreciated by our clients and the regulatory authorities around the world.
			          When not keeping us grounded at Databean, Deborah loves to spend time with her grandchildren and grow
			          beautiful flowers in her garden.
			        </p>

			      </div>

			    </div>
			    <!-- IMAGE BLOCK -->

			  </div> <!-- End container -->
			</div> <!-- END IMAGE CONTENT -->

			<!-- DIVIDER LINE -->
			<hr class="divider">
