
		<!-- HERO-22
			============================================= -->	
			<section id="hero-22" class="hero-section">
				<!-- HERO-22 SLIDER -->
 				<div class="slideshow">
   					<div class="slideshow-inner">
   						<div class="slides">


							<!-- SLIDE #1 -->
							<div class="slide is-active">

								<!-- Slide Content -->	
					          	<div class="slide-content">
					          		<div class="container">
		       							<div class="row justify-content-md-center">
		       								<div class="col col-lg-10">
					            				<div class="caption color--white">

								            		<!-- Title -->
								              		<div class="title">
								              			<h2>Seeding innovation</h2>
								              		</div>

								              		<!-- Text -->
										            <div class="text">

														<p class="p-xl">
															Driving forward medical breakthroughs with tailored clinical solutions and comprehensive trial expertise for biotech and medtech pioneers
														</p>

										               	<!-- Button -->
														<a routerLink="/services" class="btn btn-md r-06 btn--theme hover--tra-white">
														   Our Core Services
														</a>

										            </div>

												</div>
											</div>
										</div>
					            	</div>
					          	</div>	<!-- End Slide Content -->	

								<!-- Slide Background Image -->
						        <div class="image-container">
						           	<img class="image" src="../../images/slider/slide-1.jpg" alt="slide-background">
						        </div>

					    	</div>	<!-- END SLIDE #1 -->


					   		<!-- SLIDE #2 -->
							<div class="slide">

								<!-- Slide Content -->	
								<div class="slide-content">		
									<div class="container">
		       							<div class="row justify-content-md-center">
		       								<div class="col col-lg-10">	          		
					            				<div class="caption color--white">

								            		<!-- Title -->
								              		<div class="title">
								              			<h2>Streamline Your Clinical Trials with Confidence</h2>
								              		</div>

								              		<!-- Text -->
										            <div class="text">

										            	<p class="p-xl">
															Empower your research team with intuitive tools for efficient data management, seamless patient interactions, and comprehensive oversight. 
														</p>

										                <!-- Button -->
														<a routerLink="/trialpoint" class="btn btn-md r-06 btn--theme hover--tra-white">
														   Discover TrialPoint
														</a>

										            </div>

												</div>
											</div>
										</div>
					            	</div>
					          	</div>	<!-- End Slide Content -->					

								<!-- Slide Background Image -->
						        <div class="image-container">
						          	<img class="image" src="../../images/slider/slide-2.jpg" alt="slide-background">
						        </div>
						  
						    </div>	<!-- END SLIDE #2 -->


						    <!-- SLIDE #3 -->
							<div class="slide">

								<!-- Slide Content -->	
								<div class="slide-content">
									<div class="container">
		       							<div class="row justify-content-md-center">
		       								<div class="col col-lg-10">     
					            				<div class="caption text-center color--white">

					            					<!-- Title -->
								              		<div class="title">
								              			<h2>Comprehensive Clinical Services for Every Stage</h2>
								              		</div>

								              		<!-- Text -->
										            <div class="text">

										            	<p class="p-xl">
															Advancing life science innovators with customized trial design, regulatory expertise, data management, and project leadership for seamless clinical success.
														</p>

										         	 	<!-- Button -->
														<a routerLink="/contact"class="btn btn-md r-06 btn--theme hover--tra-white">
														   Drop Us A Line
														</a> 

							            			</div>

  												 </div>
											</div>
										</div>
					            	</div>
					          	</div>	<!-- End Slide Content -->	

								<!-- Slide Background Image -->
						        <div class="image-container">
						           	<img class="image" src="../../images/slider/slide-3.jpg" alt="slide-background">
						        </div>

						    </div>	<!-- END SLIDE #3 -->


						</div>	
					</div>   <!-- End Slideshow Inner -->
				</div>    <!-- END HERO-22 SLIDER -->


			</section>	<!-- END HERO-22 -->

		<!-- FEATURES-7
			============================================= -->
			<section id="features-7" class="pt-100 features-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-md-9">
							<div class="section-title mb-70">	

								<!-- Title -->	
								<h2 class="h2-xl">Everything in One Place</h2>

								<!-- Text -->	
								<p class="p-xl">We combine scientific knowledge, innovative trial designs, regulatory and clinical expertise, and custom IT solutions to obtain realistic and cost-effective results.</p>

							</div>	
						</div>
					</div>


					<!-- FEATURES-7 WRAPPER -->
					<div class="fbox-wrapper text-center">
						<div class="row row-cols-1 row-cols-md-3">


							<!-- FEATURE BOX #1 -->
		 					<div class="col">
		 						<div class="fbox-7 fb-1 wow animate__animated animate__fadeInUp">

		 							<!-- Image -->
									<div class="fbox-img h-180">
										<img class="img-fluid" src="images/f_approch.png" alt="feature-image">
									</div>

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="h6-xl">Knowledge</h6>
										<p>Our team brings specialized expertise in advanced medical devices for managing end-stage diseases. By combining deep knowledge with innovative trial designs, we shorten development timelines and reduce costs, accelerating the path to market for life-changing technologies.
										</p>
										<div class="txt-block-tra-link">
											<a routerLink="/services" class="tra-link ico-20 color--theme">
												Discover More <span class="flaticon-next"></span>
											</a>
										</div>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #1 -->	


		 					<!-- FEATURE BOX #2 -->
		 					<div class="col">
		 						<div class="fbox-7 fb-2 wow animate__animated animate__fadeInUp">

		 							<!-- Image -->
									<div class="fbox-img h-180">
										<img class="img-fluid" src="images/f_approch.png" alt="feature-image">
									</div>

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="h6-xl">Experience</h6>
										<p>We are passionate about staying at the forefront of health technology innovations worldwide. With global reach and a nuanced understanding of regulatory landscapes, we streamline pathways to approval, navigating regulatory complexities to expedite product success.
										</p>
										<div class="txt-block-tra-link">
											<a routerLink="/services" class="tra-link ico-20 color--theme">
												Discover More <span class="flaticon-next"></span>
											</a>
										</div>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #2 -->	


		 					<!-- FEATURE BOX #3 -->
		 					<div class="col">
		 						<div class="fbox-7 fb-3 wow animate__animated animate__fadeInUp">

		 							<!-- Image -->
									<div class="fbox-img h-180">
										<img class="img-fluid" src="images/f_approch.png" alt="feature-image">
									</div>

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="h6-xl">Approach</h6>
										<p>Databean thrives on the dynamic pace of startups, channeling this energy to unify cross-functional teams for effective trial execution. From first-in-human studies through post-marketing surveillance, our experience and leadership drive each phase toward your business goals.
										</p>
										<div class="txt-block-tra-link">
											<a routerLink="/services" class="tra-link ico-20 color--theme">
												Discover More <span class="flaticon-next"></span>
											</a>
										</div>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #3 -->	


						</div>  <!-- End row -->  
					</div>	<!-- END FEATURES-7 WRAPPER -->


				</div>     <!-- End container -->
			</section>	<!-- END FEATURES-7 -->

			<!-- BOX CONTENT
			============================================= -->
			<section class="pt-100 bc-01 ws-wrapper content-section">
				<div class="container">
					<div class="bc-01-wrapper bg--whitesmoke r-16">
						<div class="section-overlay bg--fixed">
							<div class="row d-flex align-items-center">


								<!-- IMAGE BLOCK -->
								<div class="col-md-6">
									<div class="img-block left-column wow animate__animated animate__fadeInRight">
										<img class="img-fluid" src="images/img-01c.png" alt="content-image">
									</div>
								</div>


								<!-- TEXT BLOCK -->	
								<div class="col-md-6">
									<div class="txt-block right-column wow animate__animated animate__fadeInLeft">

										<!-- Section ID -->	
						 				<span class="section-id">From Discovery to Delivery</span>
	
										<!-- Title -->	
										<h2>Clinical Trials That Drive Results</h2>

										<!-- Text -->	
										<p>Achieve real impact with our comprehensive clinical trial expertise, tailored to advance innovative therapies efficiently and effectively. 
										</p>

										<!-- Text -->	
										<p class="mb-0">Our team’s commitment to precision, agility, and collaboration ensures meaningful results for every stage of development.
										</p>

										<!-- Link -->	
										<div class="txt-block-tra-link">
											<a routerLink="/services" class="tra-link ico-20 color--theme">
												Discover More <span class="flaticon-next"></span>
											</a>
										</div>

									</div>
								</div>	<!-- END TEXT BLOCK -->	


							</div>   <!-- End row -->	
						</div>    <!-- End section overlay -->	
					</div>    <!-- End content wrapper -->
				</div>     <!-- End container -->	
			</section>	<!-- END BOX CONTENT -->

			<!-- FEATURES-2
			============================================= -->
			<section id="features-2" class="pt-100 features-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-md-9">
							<div class="section-title mb-80">	

								<!-- Title -->
								<h2 class="h2-xl">Expert Clinical Trial Support for Every Phase</h2>

								<!-- Text -->	
								<p class="p-xl">Ensuring Precision, Compliance, and Success from Start to Finish</p>

							</div>	
						</div>
					</div>


					<!-- FEATURES-2 WRAPPER -->
					<div class="fbox-wrapper">
						<div class="row row-cols-1 row-cols-md-2 rows-3">


							<!-- FEATURE BOX #1 -->
		 					<div class="col">
		 						<div class="fbox-2 fb-1 wow animate__animated animate__fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico color--theme ico-55">
		 									<div class="shape-ico color--theme">

												<!-- Vector Icon -->
												<span class="flaticon-creative-spark"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
										</div>
									</div>

									<!-- Text -->
									<div class="fbox-txt">
										<h5>Trial Design & Biostatistics</h5>
										<p>Our biostatisticians bring expertise in both Bayesian and traditional methods, offering versatile solutions to optimize your study design.
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #1 -->	


		 					<!-- FEATURE BOX #2 -->
		 					<div class="col">
		 						<div class="fbox-2 fb-2 wow animate__animated animate__fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico color--theme ico-55">
		 									<div class="shape-ico color--theme">

												<!-- Vector Icon -->
												<span class="flaticon-shield-2"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
										</div>
									</div>

									<!-- Text -->
									<div class="fbox-txt">
										<h5>Regulatory & Quality</h5>
										<p>Avoid costly delays—our regulatory experts know what agencies require, ensuring a clear, efficient path to compliance
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #2 -->	


		 					<!-- FEATURE BOX #3 -->
		 					<div class="col">
		 						<div class="fbox-2 fb-3 wow animate__animated animate__fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico color--theme ico-55">
		 									<div class="shape-ico color--theme">

												<!-- Vector Icon -->
												<span class="flaticon-process"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
										</div>
									</div>

									<!-- Text -->
									<div class="fbox-txt">
										<h5>Project Management</h5>
										<p>Our skilled project managers are committed to delivering on time and within budget, recognizing the urgency of your goals
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #3 -->	


		 					<!-- FEATURE BOX #4 -->
		 					<div class="col">
		 						<div class="fbox-2 fb-4 wow animate__animated animate__fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico color--theme ico-55">
		 									<div class="shape-ico color--theme">

												<!-- Vector Icon -->
												<span class="flaticon-pie-chart-1"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
										</div>
									</div>

									<!-- Text -->
									<div class="fbox-txt">
										<h5>Data Management</h5>
										<p>With hands-on experience in academia and industry, our data management team ensures robust, reliable data handling from trial design to analysis
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #4 -->	


		 					<!-- FEATURE BOX #5 -->
		 					<div class="col">
		 						<div class="fbox-2 fb-5 wow animate__animated animate__fadeInUp">

									<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico color--theme ico-55">
		 									<div class="shape-ico color--theme">

												<!-- Vector Icon -->
												<span class="flaticon-success"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
										</div>
									</div>

									<!-- Text -->
									<div class="fbox-txt">
										<h5>Post Surveillance</h5>
										<p>We support the critical transition from clinical development to market introduction, securing the longevity and success of your product
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #5 -->	


		 					<!-- FEATURE BOX #6 -->
		 					<div class="col">
		 						<div class="fbox-2 fb-6 wow animate__animated animate__fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico color--theme ico-55">
		 									<div class="shape-ico color--theme">

												<!-- Vector Icon -->
												<span class="flaticon-heartbeat"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
										</div>
									</div>

									<!-- Text -->
									<div class="fbox-txt">
										<h5>Trial Rescue</h5>
										<p>When costs rise, and deadlines slip, we step in to reassess and realign strategies, getting your trial back on track.
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #6 -->	


						</div>  <!-- End row -->  
					</div>	<!-- END FEATURES-2 WRAPPER -->


				</div>     <!-- End container -->
			</section>	<!-- END FEATURES-2 -->

			<!-- BOX CONTENT
			============================================= -->
			<section class="pt-30 mb-30  bc-02 bc-02-top ws-wrapper content-section">
				<div class="container">


					<!-- CONTENT WRAPPER -->	
					<div class="bc-02-wrapper bg--whitesmoke r-16">
						<div class="section-overlay">
							<div class="row d-flex align-items-center">


								<!-- IMAGE BLOCK -->
								<div class="col-md-6 col-lg-7">
									<div class="bc-2-img left-column wow animate__animated animate__fadeInRight">
										<img class="img-fluid" src="images/EDC-1.png" alt="content-image">
									</div>	
								</div>


								<!-- TEXT BLOCK -->	
								<div class="col-md-6 col-lg-5 order-last order-md-2">
									<div class="txt-block right-column wow animate__animated animate__fadeInLeft">

										<!-- Icon -->	
									

										<!-- Title -->	
										<h5 class="h5-xl"><img class="img-fluid" src="images/TP-logo.svg" alt="content-image"></h5>

										<!-- Text -->	
										<ul class="simple-list">

											<li class="list-item">
												<p>Designed by us, for us, TrialPoint™ streamlines the operational and data management tasks associated with clinical research.
												</p>
											</li>

											<li class="list-item">
												<p class="mb-0">This cloud-based system can be accessed any place, any time, allowing Databean to manage more research using fewer resources.
												</p>
											</li>

										</ul>

										<!-- Link -->	
										<div class="txt-block-tra-link">
											<a routerLink="/trialpoint" class="tra-link ico-20 color--theme">
												Discover More <span class="flaticon-next"></span>
											</a>
										</div>

									</div>
								</div>	<!-- END TEXT BLOCK -->	


							</div>   <!-- End row -->
						</div>    <!-- End section overlay -->		
					</div>     <!-- END CONTENT WRAPPER -->	


				</div>     <!-- End container -->	
			</section>	<!-- END BOX CONTENT -->

			<!-- DIVIDER LINE -->
			<hr class="divider">

			<!-- FEATURES-4
			============================================= -->
			<section id="features-4 " class="shape--bg shape--whitesmoke  py-60 mt-30 ct-01 features-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- FEATURES-4 WRAPPER -->
						<div class="col-md-7 order-last order-md-2">
							<div class="fbox-4-wrapper">	
								<div class="row">


				 					<div class="col-md-6">

				 						<!-- FEATURE BOX #1 -->
				 						<div id="fb-4-1" class="fbox-4 block--shadow r-12 wow animate__animated animate__fadeInRight" style="min-height: 400px;">

											<!-- Icon -->
											<div class="fbox-ico ico-50">
												<div class="shape-ico color--theme">

													<!-- Vector Icon -->
													<span class="flaticon-innovation"></span>

													<!-- Shape -->
													<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
													 <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
													</svg>

												</div>
											</div>	<!-- End Icon -->

											<!-- Title -->
											<h6 class="h6-lg">Innovation</h6>
													
											<!-- Text -->
											<p>We apply the latest tools and methods to streamline trials and create real impact, embracing forward-thinking solutions to drive results.</p>

				 						</div>

				 						<!-- FEATURE BOX #2 -->
				 						<div id="fb-4-2" class="fbox-4 block--shadow r-12 wow animate__animated animate__fadeInRight" style="min-height: 400px;">

											<!-- Icon -->
											<div class="fbox-ico ico-50">
												<div class="shape-ico color--theme">

													<!-- Vector Icon -->
													<span class="flaticon-podium"></span>

													<!-- Shape -->
													<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
													 <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
													</svg>

												</div>
											</div>	<!-- End Icon -->

											<!-- Title -->
											<h6 class="h6-lg">Experience</h6>
													
											<!-- Text -->
											<p>Our team brings decades of knowledge to navigate the complexities of global trials, backed by extensive hands-on expertise.</p>

				 						</div>


				 					</div>


				 					<div class="col-md-6">


				 						<!-- FEATURE BOX #3 -->
				 						<div id="fb-4-3" class="fbox-4 block--shadow r-12 wow animate__animated animate__fadeInRight" style="min-height: 400px;">

											<!-- Icon -->
											<div class="fbox-ico ico-50">
												<div class="shape-ico color--theme">

													<!-- Vector Icon -->
													<span class="flaticon-trophy"></span>

													<!-- Shape -->
													<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
													 <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
													</svg>

												</div>
											</div>	<!-- End Icon -->

											<!-- Title -->
											<h6 class="h6-lg">Quality</h6>
													
											<!-- Text -->
											<p>Our rigorous quality standards ensure each project meets precise, ethical, and regulatory expectations, building trust at every step</p>

				 						</div>

				 						<!-- FEATURE BOX #4 -->
				 						<div id="fb-4-4" class="fbox-4 block--shadow r-12 wow animate__animated animate__fadeInRight" style="min-height: 400px;">

											<!-- Icon -->
											<div class="fbox-ico ico-50">
												<div class="shape-ico color--theme">

													<!-- Vector Icon -->
													<span class="flaticon-affiliate"></span>

													<!-- Shape -->
													<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
													 <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
													</svg>

												</div>
											</div>	<!-- End Icon -->

											<!-- Title -->
											<h6 class="h6-lg">Customer-First</h6>
													
											<!-- Text -->
											<p>Your goals shape our approach. We prioritize your needs, crafting a strategy tailored to create a collaborative and successful partnership</p>

				 						</div>


				 					</div>


				 				</div>
							</div>	<!-- End row -->
						</div>	<!-- END FEATURES-4 WRAPPER -->

						

						<!-- TEXT BLOCK -->	
						<div class="col-md-5 order-first order-md-2">
							<div class="txt-block left-column wow animate__animated animate__fadeInLeft">
	
								<!-- Section ID -->	
						 		<span class="section-id">Our Strengths</span>
	
								<!-- Title -->	
								<h2>Why Choose Us?</h2>

								<!-- Text -->	
								<p>Trusted by industry leaders for our expertise, agility, and commitment to driving results
								</p>

								<!-- List -->	
								<ul class="simple-list">

									<li class="list-item">
										<p>Proven Results: We’ve helped countless clients bring groundbreaking therapies to market efficiently and effectively
										</p>
									</li>

									<li class="list-item">
										<p class="mb-0">End-to-End Support: From trial design to post-market surveillance, we provide seamless support at every stage
										</p>
									</li>

								</ul>
								
							</div>
						</div>	<!-- END TEXT BLOCK -->	


					</div>    <!-- End row -->
				</div>     <!-- End container -->
			</section>	<!-- END FEATURES-4 -->

			<!-- DIVIDER LINE -->
			<hr class="divider">

			<!-- BANNER-2
			============================================= -->
			<section id="banner-2" class="banner-section">
				<div class="container">


					<!-- BANNER-2 WRAPPER -->
					<div class="banner-2-wrapper r-16">
						<div class="banner-overlay ba--03 bg--fixed">
							<div class="row justify-content-center">


								<!-- BANNER-2 TEXT -->
								<div class="col-md-9">
									<div class="banner-2-txt l-txt color--white">

										<!-- Title -->	
										<h2 class="h2-lg">Have a project in mind? Let's discuss</h2>

										<!-- Text -->
										<p class="p-xl">Transforming your clinical trial vision into reality—let's collaborate today.
										</p>

										<!-- Button -->
										<a routerLink="/contact" class="btn btn-md r-06 btn--theme hover--tra-white">Start the Conversation
										</a>

									</div>
								</div>	<!-- END BANNER-2 TEXT -->


							</div>   <!-- End row -->	
						</div>   <!-- End banner overlay -->	
					</div>    <!-- END BANNER-2 WRAPPER -->


				</div>     <!-- End container -->	
			</section>	<!-- END BANNER-2 -->

		
            